.image-popup__container {
  border-radius: 10px;
  opacity: 1;
  position: relative;
  max-width: 810px;
  max-height: 580px;
  margin: 0px 30px 0px;
}

.image-popup__image {
  max-width: 810px;
  max-height: 580px;
  width: 100%;
}

.image-popup__text {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0 0;
}

.image-popup__close-button {
  background-image: url("../images/Close\ Icon.svg");
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
  transition: opacity 1s linear 0s;
}

.image-popup__close-button:hover {
  opacity: 0.6;
}

.image-popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

@media screen and (max-width: 500px) {
  .image-popup__close-button {
    height: 26px;
    width: 26px;
  }
  .image-popup__image {
    max-width: 240px;
    max-height: 299px;
    width: 100%;
  }
}
