.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  visibility: hidden;
  opacity: 0;
  align-items: center;
  justify-content: center;
  padding: 19px;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.image-modal__container {
  border-radius: 10px;
  opacity: 1;
  position: relative;
  max-width: 810px;
  max-height: 580px;
  margin: 0px 30px 0px;
}

.image-modal__image-element {
  max-width: 810px;
  max-height: 580px;
  width: 100%;
}

.image-modal__text {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0 0;
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

@media screen and (max-width: 500px) {
  .image-modal__image-element {
    max-width: 240px;
    max-height: 299px;
    width: 100%;
  }
}
