.page {
  box-sizing: border-box;
  min-width: 300px;
  min-height: 100vh;
  color: #fff;
}

.page__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #000000;
}
/* fixed the height of the header for desktop screens */
.page__header {
  max-width: 880px;
  width: 100%;
  margin: 45px auto 0;
}

.page__profile {
  max-width: 880px;
  width: 100%;
  margin: 40px auto 0px;
}

.page__cards {
  max-width: 880px;
  width: 100%;
  margin: 47px auto 0px;
}

.page__footer {
  max-width: 880px;
  width: 100%;
  margin: 67px auto 60px;
  text-align: start;
}

@media screen and (max-width: 530px) {
  /* fixed the height of the header for mobile screens */
  .page__header {
    max-width: 320px;
    margin: 28px auto 0;
  }

  .page__profile {
    max-width: 282px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page__cards {
    margin: 36px auto 0px;
  }

  .page__footer {
    margin: 48px auto 36px;
  }
}

@media screen and (max-width: 634px) {
  .page__footer {
    max-width: 300px;
  }
}

@media screen and (min-width: 635px) and (max-width: 920px) {
  .page__cards {
    max-width: 800px;
  }
  .page__footer {
    max-width: 600px;
  }
}
