.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__image {
  margin: 0px 0px 41px;
  max-width: 173px;
  max-height: 33px;
}

@media screen and (max-width: 530px) {
  .header__image {
    max-width: 126px;
    max-height: 24px;
    margin: 0px 0px 32px 27px;
  }
}

@media screen and (min-width: 531px) and (max-width: 920px) {
  .header__image {
    margin: 0px 0px 41px 27px;
  }
}
