.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__picture {
  position: relative;
  border-radius: 60%;
  width: 120px;
  height: 120px;
  margin-right: 26px;
  flex-shrink: 0;
}
.profile__picture:hover .profile-edit {
  visibility: visible;
}

.profile__picture:hover .profile__picture_image {
  opacity: 0.8;
}

.profile__picture_image {
  border-radius: 60%;
  width: 120px;
  height: 120px;
}

.profile-edit {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 40%;
  left: 40%;
  height: 26px;
  width: 26px;
  visibility: hidden;
}

.profile-edit-pic {
  width: 26px;
  height: 26px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "profile__header profile__edit-button"
    "profile__subheader profile__subheader";
  grid-template-columns: minmax(auto, 373px) auto;
  grid-template-rows: 48px 30px;
}

.profile__header {
  grid-area: profile__header;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.15;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__subheader {
  grid-area: profile__subheader;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  margin: 7px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  grid-area: profile__edit-button;
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 18px;
  border: 1px solid rgba(255, 255, 255, 1);
  transition: opacity 0.5s ease-in-out 0s;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  background: transparent url(../images/Vector.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 1);
  margin-left: auto;
  padding: 0;
  transition: opacity 0.5s linear 0s;
  border-radius: 2px;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 530px) {
  .profile__picture {
    margin-right: 0 auto 0;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 26px 62px 0;
  }
  .profile__header {
    max-width: 196px;
    width: 100%;
    font-size: 22px;
    margin-left: 43px;
  }
  .profile__subheader {
    font-size: 14px;
    max-width: 282px;
    width: 100%;
    text-align: center;
  }
  .profile__add-button {
    max-width: 320px;
    width: 100%;
    margin: 36px auto 0;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}

@media screen and (min-width: 531px) and (max-width: 760px) {
  .profile__picture {
    margin-left: 20px;
  }

  .profile__add-button {
    margin-right: 20px;
    max-width: 50px;
    width: 100%;
  }

  .profile__info {
    grid-template-columns: minmax(auto, 250px) auto;
  }

  .profile__header {
    font-size: 20px;
  }

  .profile__subheader {
    font-size: 20px;
  }
}

@media screen and (max-width: 920px) {
  .profile__picture {
    margin-left: 20px;
  }

  .profile__add-button {
    margin-right: 20px;
  }
}
